#authors{
	height: 90vH;
	width: 100%;
	padding-left: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authorName{
	margin-left: 0; 
	margin-right: auto;
}

.averageRating{
	margin-left: 0; 
	margin-right: auto;
	
}

.authorsBooks{
	color: black;
	background-color: #fcfcfc;
	border: 10px rgba(255,231,220,1);
	border-radius: 20px;
	height: 200px;
	width: 900px;
	display: grid;
	grid-template-columns: repeat(auto-fill, 320px);
	grid-gap: 0px;
	justify-content: left;
	padding: initial;
	align-items: center;
}

.booksInformation{
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 20px;
 
}

.bookCover{
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;

}

